<div>
Band Members
</div>
<ul>
	<li>@Html.ActionLink("Geddy Lee", "Index", "Member", new { @id = 2 }, null)</li>
	<li>@Html.ActionLink("Alex Lifeson", "Index", "Member", new { @id = 3 }, null)</li>
	<li>@Html.ActionLink("Neil Peart", "Index", "Member", new { @id = 1 }, null)</li>
</ul>